.keys-board{
    display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        padding: 0.2rem;
        color: white;
}
.keyboard-div{
    margin-top: 8rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:    center;
    align-items: center;
}